.App{
  margin: auto;
  width: 80%;
  padding: 10px;
}
.action{
  display: flex;
}
.pagination{
  display: block;
}
.pagination ul{
  width: 100%;
  display: flex;
}
.pagination ul li{
  padding: 1rem;
  list-style-type: none;
}
a{
  text-decoration: none;
  color:#0d6efd !important;
}
.edit{
  display: inline;
}
.form{
  display: flex;
  flex-direction: column;
}
.update{
  margin-top:10px;
}
.cancel{
  margin-top:10px;
}
